Recommendation System
===========

[Doc2vec + Wide & Deep learning] = Google 매니아
----------------------------------

<div class=pull-right><h3>
    연습용 파일입니다. [Recommendation_Wide & Deep]을 봐주세요 | J. H. Park
</h3></div>

---

### 순서

1. 데이터 소개
2. Doc2Vec
3. Wide & Deep
4. Recommendation

---

본 문서에 사용된 데이터는 Lpoint 2016년 공모전에서 제공받은 데이터임을 밝힙니다. (공유 불가.)

---

# 1. 데이터 소개

해당 데이터가 꽤 크므로 간단한 분석용으로 줄였습니다.

* C 제휴사 거래내역
* 한번 구매할 때 5개 품목 이상인 거래  (이하 session 이라고 표현).
* 10번 이상 거래내역이 있는 고객 

위 조건 중에서 고객별로 시간상 최근 거래내역 10개를 가지고 왔습니다.

In [1]:
import pandas as pd

In [2]:
train_data = pd.read_csv("./data/Lpoint/train_data.csv", encoding="cp949")
train_label = pd.read_csv("./data/Lpoint/train_label.csv", encoding="cp949")

test_data = pd.read_csv("./data/Lpoint/test_data.csv", encoding="cp949")
test_label = pd.read_csv("./data/Lpoint/test_label.csv", encoding="cp949")
test_label_real = pd.read_csv("./data/Lpoint/test_label_real.csv", encoding="cp949")

categorical_data = pd.read_csv("./data/Lpoint/categorical.csv", encoding="cp949")
continuous_data = pd.read_csv("./data/Lpoint/continuous.csv", encoding="cp949")

각 데이터는 아래 진행될 분석 흐름에 맞게 미리 `R`로 핸들링 하였습니다.

In [3]:
train_data.head()

                                                item  영수증번호   고객번호
0  C010215/기타수입과일 C030308/기타뿌리채소 C030506/봄동 C0306...    425  13889
1  C010101/사과 C020301/미숫가루 C070101/일반우유 C070202/마...   1811   4740
2  C060501/한과 C110202/사이다 C110502/전통차음료 C170206/종...   2106   4740
3  C010110/딸기 C030401/두부류 C080201/어묵 C100202/냉장면 ...   2450   4740
4  C050208/국산돼지뒷다리 C050302/볶음탕용닭 C070101/일반우유 C13...   4147   4817

In [4]:
train_label.head()

,C010101/사과,C010102/배,C010103/감,C010104/귤류,C010105/유자/모과,C010106/복숭아,C010107/자두,C010108/살구,C010109/매실,C010110/딸기,...,C170647/아동서적,C170648/일반서적,C170650/일반교육완구,C170651/자연/과학완구,C170652/음악/악기완구,C170654/스포츠완구,C170655/실외놀이완구,C170657/미니자동차,C170662/역할놀이,C170701/생활잡화균일가
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
categorical_data = categorical_data.fillna(0)
categorical_data.head()

del categorical_data["영수증번호"], categorical_data["고객번호"]

In [6]:
continuous_data = continuous_data.fillna(0)
continuous_data.head()

del continuous_data["영수증번호"], continuous_data["고객번호"]

본 문서에서는 고객별로 가장 최근 구매 내역을 Test 로 선정하고, 이전 9번의 구매내역을 Train 데이터로 선정하였습니다.  

추천 방식은 Train 인 9번의 구매내역을 (누적 구매 내역) 이용해서 추천을 한 후 Test 데이터로 평가하는 방식을 소개합니다.  
(Test 데이터는 추천 방식에 따라 달라질 수 있습니다. )

---

# 2. Doc2Vec

In [7]:
len(train_label.columns)

872

해당 데이터의 column은 872개의 label을 가지고 있습니다.  
이 데이터를 input으로 그냥 넣기에는 고전적 deep learning 방식이며 one-hot 방식을 취하므로 "사과" 라는 데이터를 구매한 특징을 잘 살리지 못할 수 있습니다.  

이러한 이유로 해당 데이터를 Gensim의 Doc2Vec기술로 Embedding을 제안해 볼 수 있습니다. Hinton 교수님이 설명한 Deep learning에서 분산표현의 의미를 살리는 것입니다.   
NLP 계열에서 사용하는 Doc2Vec을 상품에 적용한 Item2Vec 이라고 말하고 싶습니다.

In [8]:
train_docs = [(str(row['item']).split(), row['고객번호']) for idx, row in train_data.iterrows()]
test_docs = [(str(row['item']).split(), row['고객번호']) for idx, row in test_data.iterrows()]

In [9]:
train_docs[0]

(['C010215/기타수입과일',
  'C030308/기타뿌리채소',
  'C030506/봄동',
  'C030602/새송이버섯류',
  'C070302/치즈',
  'C080304/소시지',
  'C130101/채소병통조림',
  'C150302/쿠키',
  'C170206/종량제봉투',
  'C170427/여성헤어액세서리'],
 13889)

위 list는 ID:13889 인 고객이 한 번 결제할 때 구매한 내역입니다.

In [10]:
from gensim.models import doc2vec
from collections import namedtuple
import multiprocessing

In [11]:
TaggedDocument = namedtuple('TaggedDocument', 'words tags')
tagged_train_docs = [TaggedDocument(d, [c]) for d, c in train_docs]
tagged_test_docs = [TaggedDocument(d, [c]) for d, c in test_docs]

cores = multiprocessing.cpu_count()

해당 Parameters는 [Rakuten [1]](https://www.slideshare.net/rakutentech/recommender-system-with-distributed-representation) 에서 실험한 Doc2Vec을 이용한 상품추천 시스템에 적용한 최적의 결과를 적용하였습니다.

In [20]:
doc_vectorizer = doc2vec.Doc2Vec(
    
    dm = 0,            # PV-DBOW
    dbow_words = 0,    # w2v simultaneous with DBOW d2v / default 0
    window = 8,        # distance between the predicted word and context words 
    size = 300,        # vector size 
    alpha = 0.025,     # learning-rate
    min_alpha = 0.025, # min learning-rate
    
    seed = 1,
    
    sample= 1e-5,      # threshold for configuring
    min_count=3,       # ignore with freq lower
    workers=cores,     # multi cpu
    hs = 1             # hierarchical softmax / default 0
    )

doc_vectorizer.build_vocab(tagged_train_docs)
print(str(doc_vectorizer))

Doc2Vec(dbow,d300,n5,hs,mc3,s1e-05,t16)

In [21]:
for epoch in range(20):
    %time doc_vectorizer.train(tagged_train_docs)
    doc_vectorizer.alpha -= 0.001
    doc_vectorizer.min_alpha = doc_vectorizer.alpha

CPU times: user 12.7 s, sys: 1.58 s, total: 14.3 s
Wall time: 11.4 s
CPU times: user 12.5 s, sys: 1.55 s, total: 14.1 s
Wall time: 11.3 s
CPU times: user 12.4 s, sys: 1.61 s, total: 14 s
Wall time: 11.3 s
CPU times: user 12.6 s, sys: 1.58 s, total: 14.2 s
Wall time: 11.3 s
CPU times: user 12.8 s, sys: 1.44 s, total: 14.2 s
Wall time: 11.4 s
CPU times: user 13 s, sys: 1.52 s, total: 14.5 s
Wall time: 11.6 s
CPU times: user 12.6 s, sys: 1.52 s, total: 14.2 s
Wall time: 11.4 s
CPU times: user 12.6 s, sys: 1.42 s, total: 14 s
Wall time: 11.2 s
CPU times: user 12.8 s, sys: 1.49 s, total: 14.3 s
Wall time: 11.5 s
CPU times: user 12.7 s, sys: 1.5 s, total: 14.2 s
Wall time: 11.4 s
CPU times: user 12.5 s, sys: 1.7 s, total: 14.2 s
Wall time: 11.4 s
CPU times: user 12.7 s, sys: 1.43 s, total: 14.2 s
Wall time: 11.4 s
CPU times: user 12.7 s, sys: 1.41 s, total: 14.1 s
Wall time: 11.3 s
CPU times: user 12.7 s, sys: 1.51 s, total: 14.2 s
Wall time: 11.4 s
CPU times: user 12.5 s, sys: 1.51 s, total: 14 s
Wall time: 11.2 s
CPU times: user 12.5 s, sys: 1.46 s, total: 14 s
Wall time: 11.2 s
CPU times: user 12.9 s, sys: 1.4 s, total: 14.3 s
Wall time: 11.4 s
CPU times: user 12.5 s, sys: 1.47 s, total: 14 s
Wall time: 11.2 s
CPU times: user 12.8 s, sys: 1.3 s, total: 14.1 s
Wall time: 11.3 s
CPU times: user 12.8 s, sys: 1.51 s, total: 14.3 s
Wall time: 11.4 s

In [22]:
# To save
doc_vectorizer.save('./Doc_model/Item2Vec.model')

In [12]:
# To load
doc_vectorizer=doc2vec.Doc2Vec.load('./Doc_model/Item2Vec.model')

Train 데이터를 이용해서 고객별 session 을 Doc2Vec 을 이용해서 학습하였습니다.  
872개의 Item을 300 차원으로 Embedding 을 진행하여 각 column이 Items 의 특징을 가지게 되었습니다.

In [13]:
train_item = [doc_vectorizer.infer_vector(doc.words) for doc in tagged_train_docs]

In [14]:
train_item_pd = pd.DataFrame(train_item)
train_item_pd.head()

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,0.128859,-0.108076,-0.027360,-0.083252,-0.045981,-0.009877,0.250382,0.085453,0.176705,0.007599,...,-0.003815,-0.042487,0.010719,-0.094222,-0.053283,0.122606,0.070666,-0.198512,0.142067,0.059067
1,-0.034619,-0.103194,0.008407,0.176803,0.027261,-0.035091,-0.012493,0.074029,0.138146,0.095728,...,-0.051408,-0.009371,0.018060,0.064059,-0.202544,-0.091100,0.061994,-0.111594,0.174368,0.001487
2,-0.001139,0.001934,-0.002214,-0.002704,0.001958,0.002594,-0.000482,0.004479,0.002097,0.000473,...,0.000439,-0.002068,0.000044,0.000123,-0.003152,0.001432,0.000613,-0.000067,-0.001971,0.001944
3,0.019129,0.046102,0.055549,-0.086795,0.071184,0.014293,0.028075,0.163346,0.026578,0.025614,...,-0.039438,-0.056394,0.060592,-0.108922,-0.009827,0.029451,0.040038,-0.000561,0.023137,0.040183
4,-0.002009,-0.000054,0.002682,0.002730,-0.000751,0.001106,0.000047,0.001299,-0.001158,-0.001414,...,-0.001678,0.000672,0.000075,-0.001737,0.000515,-0.001130,0.000452,-0.001545,0.000497,0.002335

---

# 2. Wide & Deep learning

## Define Base Feature Columns

In [15]:
import tensorflow as tf
from tensorflow.contrib import layers
from tensorflow.contrib.learn import preprocessing
from datetime import datetime

Wide 에 넣은 Cross_column 입니다.

In [16]:
def cross_columns(data, cross_colnames):
    for i in cross_colnames:
        tmp = 0
        for j in i:
            tmp += 1
            if tmp == 1:
                cross_data = data[j]
                columns = j
            else:
                cross_data = cross_data + data[j]
                columns = columns + "+" + j
        data[columns] = cross_data
        
    return data

고객 특징인 데이터들을 합치고 더미화 합니다.

In [17]:
user_feature = pd.DataFrame(pd.concat([categorical_data, continuous_data], axis=1, join_axes=[categorical_data.index]))
user_feature_dm = pd.get_dummies(user_feature)

In [18]:
user_feature_dm.head()

,다둥이,더영,롭스,하이마트,A_MOBILE/APP,B_MOBILE/APP,B_ONLINEMALL,C_MOBILE/APP,C_ONLINEMALL,D_MOBILE/APP,...,A거주지역_A630,A거주지역_A65,A거주지역_A69,A거주지역_A72,A거주지역_A75,A거주지역_A79,A거주지역_A82,A거주지역_A85,A거주지역_A87,A거주지역_ANA
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

Deep learningn 부분에 input할 데이터가 만들어 졌습니다.

In [19]:
Deep_data = pd.DataFrame(pd.concat([train_item_pd, user_feature_dm], axis=1, join_axes=[train_item_pd.index]))

### Cross columns

Wide 부분에 들어갈 Cross_culumns 들을 만드는 부분입니다.

In [20]:
CROSS_COLUMNS = [["성별", "연령대"],
                 ["다둥이", "더영", "롭스", "하이마트"]]

In [21]:
user_feature_cc = pd.get_dummies(cross_columns(user_feature, CROSS_COLUMNS))
user_feature_cc.head()

,다둥이,더영,롭스,하이마트,A_MOBILE/APP,B_MOBILE/APP,B_ONLINEMALL,C_MOBILE/APP,C_ONLINEMALL,D_MOBILE/APP,...,성별+연령대_M19세이하,성별+연령대_M20세~24세,성별+연령대_M25세~29세,성별+연령대_M30세~34세,성별+연령대_M35세~39세,성별+연령대_M40세~44세,성별+연령대_M45세~49세,성별+연령대_M50세~54세,성별+연령대_M55세~59세,성별+연령대_M60세이상
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
Wide_data = pd.DataFrame(pd.concat([train_item_pd, user_feature_cc], axis=1, join_axes=[train_item_pd.index]))

In [23]:
print(len(Deep_data.columns))
print(len(Wide_data.columns))

373
394

---

# 3. Wide & Deep learning

In [24]:
# parameters
keep_prob = 0.7
learning_rate = 1e-5
training_epochs = 1001
batch_size = 128

wide_size = len(Wide_data.columns)
deep_size = len(Deep_data.columns)
output_size = len(train_label.columns)

He = tf.contrib.layers.variance_scaling_initializer()

# input place holders
tf.reset_default_graph()
Wide = tf.placeholder(tf.float32, [None, wide_size])
Deep = tf.placeholder(tf.float32, [None, deep_size])
Y = tf.placeholder(tf.float32, [None, output_size])
train_mode = tf.placeholder(tf.bool, name='train_mode')

## Wide

In [25]:
A = tf.get_variable("A", shape=[wide_size, output_size])
b = tf.Variable(tf.random_normal([output_size]))

wide = tf.add(tf.matmul(Wide, A), b)

## Deep

In [26]:
W1 = tf.get_variable("W1", shape=[deep_size, 1024], initializer=He)
b1 = tf.Variable(tf.random_normal([1024]))
L1 = tf.nn.relu(tf.matmul(Deep, W1) + b1)

W2 = tf.get_variable("W2", shape=[1024, 512], initializer=He)
b2 = tf.Variable(tf.random_normal([512]))
L2 = tf.nn.relu(tf.matmul(L1, W2) + b2)

W3 = tf.get_variable("W3", shape=[512, 256], initializer=He)
b3 = tf.Variable(tf.random_normal([256]))
L3 = tf.nn.relu(tf.matmul(L2, W3) + b3)

W4 = tf.get_variable("W4", shape=[256, output_size], initializer=He)
b4 = tf.Variable(tf.random_normal([output_size]))

deep = tf.add(tf.matmul(L3, W4), b4)

In [27]:
hypothesis = wide + deep

In [28]:
cost = tf.reduce_mean(tf.nn.sigmoid_cross_entropy_with_logits(logits=hypothesis, labels=Y))
optimizer = tf.train.AdamOptimizer(learning_rate=learning_rate).minimize(cost)

In [29]:
# initialize
sess = tf.Session()
sess.run(tf.global_variables_initializer())

1000번 학습합니다.

In [30]:
for epoch in range(training_epochs):
    avg_cost = 0
    total_batch = int(len(Deep_data) / batch_size)

    for i in range(0, len(Deep_data), batch_size):
        batch_wide = Wide_data[i:i+batch_size]
        batch_deep = Deep_data[i:i+batch_size]
        batch_label = train_label[i:i+batch_size]

        feed_dict_train = {Wide: batch_wide, Deep: batch_deep, Y: batch_label}
        opt, c = sess.run([optimizer, cost], feed_dict=feed_dict_train)

        avg_cost += c/total_batch

    if epoch % 100 == 0:
        time = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
        print("[Epoch: {:>4}][Cost: {:>.5f}][{}]".format(epoch, avg_cost, time))

print('Learning Finished!')

[Epoch:    0][Cost: 0.79014][2017-08-10 20:13:27]
[Epoch:  100][Cost: 0.03578][2017-08-10 20:18:08]
[Epoch:  200][Cost: 0.03458][2017-08-10 20:22:45]
[Epoch:  300][Cost: 0.03382][2017-08-10 20:27:23]
[Epoch:  400][Cost: 0.03326][2017-08-10 20:32:00]
[Epoch:  500][Cost: 0.03278][2017-08-10 20:36:38]
[Epoch:  600][Cost: 0.03233][2017-08-10 20:41:16]
[Epoch:  700][Cost: 0.03192][2017-08-10 20:45:53]
[Epoch:  800][Cost: 0.03154][2017-08-10 20:50:32]
[Epoch:  900][Cost: 0.03118][2017-08-10 20:55:09]
Learning Finished!

---

### 모형평가

단순한 Accuracy를 확인하면 다음과 같습니다.

In [32]:
test_item = [doc_vectorizer.infer_vector(doc.words) for doc in tagged_test_docs]
test_item_pd = pd.DataFrame(test_item)

In [88]:
user_feature_dm_test = user_feature_dm[55062:].reset_index(drop=True)
user_feature_cc_test = user_feature_cc[55062:].reset_index(drop=True)

In [89]:
deep_data_test = pd.DataFrame(pd.concat([test_item_pd, user_feature_dm_test], axis=1, join_axes=[test_item_pd.index]))
Wide_data_test = pd.DataFrame(pd.concat([test_item_pd, user_feature_cc_test], axis=1, join_axes=[test_item_pd.index]))

In [144]:
YY = tf.equal(Y , 1)
XX = tf.greater(tf.sigmoid(hypothesis),0.5)
correct = tf.equal(XX, YY)
# score = sess.run(correct, feed_dict={Wide: Wide_data_test, Deep: deep_data_test, Y: test_label_real})
accuracy = tf.reduce_mean(tf.cast(correct, 'float'))
print("Accuracy: {:>.5f}".format(sess.run(accuracy, feed_dict={Wide: Wide_data_test, Deep: deep_data_test, Y: test_label_real})))

Accuracy: 0.98858

정확도가 98.858 % 정도가 나옵니다. scroe 값이 0.5 이상인 것만 추천을 해주는 방식인데  
실제 구매는 min ~ max = 5 ~ 27  이 나왔고   
추천 개수는 min ~ max = 0 ~ 41 값이 나왔습니다.  
매번 20개정도 틀린값이 나온다고 해도 780 / 800 = 0.975 가 나오기 때문에 이는 정확한 평가가 아닙니다.

추천시스탬은 일반적인 Accuracy를 이용하지 않습니다. 800개나 되는 Label을 맞출 리 없죠.   
보통은 Top 5 내지 Top 20을 추천을 하게 됩니다.  그중 실제로 고객이 구매한 내역과 비교하여 Hit rate: (맞춘 개수 / 추천한 수) 를 보게 됩니다.

In [158]:
score = sess.run(tf.sigmoid(hypothesis), feed_dict={Wide: Wide_data_test, Deep: deep_data_test})
score = pd.DataFrame(score, columns=train_label.columns)

In [192]:
def get_acc(score_matrix, top_n, test_matix):
    avg_acc = 0
    for i in range(len(score_matrix)):
        top = score_matrix.iloc[i].nlargest(top_n).index
        tmp = 0
        for j in range(len(top)):
            if top[j] in test_matix["item"][i].split():
                tmp += 1

        acc = tmp / len(top)
        avg_acc += acc / len(score_matrix)

    return avg_acc

In [199]:
print("Hit rate of Top 10: {:>.5f}".format(get_acc(score, 10, test_label)))
print("Hit rate of Top 20: {:>.5f}".format(get_acc(score, 20, test_label)))

Hit rate of Top 10: 0.10387
Hit rate of Top 20: 0.08614

10개를 추천해준다면 그 중 10% 가량을 실제로 구매하는 것으로 나타났습니다.


---

# Reference

<h3>
[[1] Recommender System with Distributed Representation](https://www.slideshare.net/rakutentech/recommender-system-with-distributed-representation)   
[[2] Distributed Representations of Sentences and Documents](https://arxiv.org/abs/1405.4053)   
[[3] Wide & Deep Learning for Recommender Systems](https://arxiv.org/abs/1606.07792)   
[[4] TensorFlow Wide & Deep Learning Tutorial](https://www.tensorflow.org/tutorials/wide_and_deep)   
[[5] Korean NLP in Python](http://konlpy.org/en/v0.4.4/)
</h3>